.index-page {
  position: relative;
  width: 100%;
}
.file-pdf-btn {
  position: fixed;
  top: 10px;
  right: 50px;
  &--show {
    display: block;
  }
  &--hide {
    display: none;
  }
}
.container {
  font-size: 16px;
  min-height: 100px;
  position: relative;
  margin: 10px auto;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  width: 1060px;
  border-radius: 4px;
}
