@import '../../style/index.scss';

.element-node {
  &__container{
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__title {
    font-size: 20px;
    border-bottom: solid 2px #2C405A;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
    color: inherit;

  &:link,
  &:visited {
    color: inherit;
    }
  }
}


