@import '../../style/index.scss';

.element-node {
  &__container{
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__title {
    font-size: 20px;
    border-bottom: solid 2px #2C405A;
  }

  &__list {
    border-left: 2px solid #2C405A;
    margin-left: 15px;
    list-style: none;

    & > li {
      position: relative;
      top: -5px;
      margin: 20px 0 20px 20px;
    }
  }
}


