@import '../../style/index.scss';

.basic-info {
  &__container{
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__title {
    font-size: 20px;
    border-bottom: solid 2px #2C405A;
  }

  &__list {
    padding: 20px;
    list-style-type: disc;
  }

  &__progress-box {
    display: inline-block;
    flex: 1;
  }

  &__item {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 5px;

    @include clearfix;

    @for $i from 2 through 10 {
      &--col-#{$i} {
        width: (100% / $i);
        float: left;
      }
    }
  }


  &__label {
    padding-right: 10px;
  }

}
